<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/output.css" />
        <title>a4boxd</title>
    </head>
    <body
        class="bg-mauve-950 font-display tracking-tight font-extralight h-screen flex flex-col items-center justify-center"
    >
    <div class="flex items-center justify-center gap-1">
        <div class="font-bold text-3xl"><%= err.status || 500 %></div>
        <span class="font-thin text-6xl">|</span>
        <div class=""><%= err.status ? err.message : "Internal Server Error" %></div>
    </div>
        <% if (err.errors && err.errors.length) { %>
            <ul>
                <% err.errors.forEach(error => { %>
                    <li><%= error.msg %></li>        
                <% }); %>
            </ul>
        <% } %>
        <div class="underline hover:no-underline underline-offset-1"><a href="/">Back to Home</a></div>
    </body>
</html>
