<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <link rel="stylesheet" href="/output.css" />
    </head>
    <body class="font-display tracking-tight font-extralight bg-mauve-950">
        <nav class="navbar w-full">
            <a href="/">
                <div class="p-4 font-[Logo] text-4xl">a4boxd</div>
            </a>
        </nav>
        <div class="drawer drawer-open">
            <input
                id="my-drawer-4"
                type="checkbox"
                class="drawer-toggle"
                checked
            />
            <div class="drawer-content"><%- include('genre') %></div>

            <div class="drawer-side is-drawer-close:overflow-visible">
                <label
                    for="my-drawer-4"
                    aria-label="close sidebar"
                    class="drawer-overlay flex is-drawer-open:justify-end is-drawer-close:justify-center"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="size-8 is-drawer-close:hidden"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M18 10a.75.75 0 0 1-.75.75H4.66l2.1 1.95a.75.75 0 1 1-1.02 1.1l-3.5-3.25a.75.75 0 0 1 0-1.1l3.5-3.25a.75.75 0 1 1 1.02 1.1l-2.1 1.95h12.59A.75.75 0 0 1 18 10Z"
                            clip-rule="evenodd"
                        />
                    </svg>

                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="size-8 is-drawer-close:visible is-drawer-open:hidden"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M2 10a.75.75 0 0 1 .75-.75h12.59l-2.1-1.95a.75.75 0 1 1 1.02-1.1l3.5 3.25a.75.75 0 0 1 0 1.1l-3.5 3.25a.75.75 0 1 1-1.02-1.1l2.1-1.95H2.75A.75.75 0 0 1 2 10Z"
                            clip-rule="evenodd"
                        />
                    </svg>
                </label>
                <div
                    class="flex min-h-full flex-col items-start is-drawer-close:w-9 is-drawer-open:w-56"
                >
                    <!-- Sidebar content here -->
                    <ul class="menu w-full grow is-drawer-close:hidden">
                        <%- include('genreList') %>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
