<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <link rel="stylesheet" href="/output.css" />
    </head>
    <body class="font-display tracking-tight font-extralight bg-mauve-950 flex flex-col h-screen overflow-hidden">
        <%- include('navbar') %>
        <main class="flex flex-1 h-full overflow-hidden">
            <div class="min-w-72 bg-zinc-900 pl-5 py-5 overflow-hidden flex flex-col">
                <div class="rounded-4xl w-fit h-fit p-2 mb-5 hover:bg-zinc-800 hover:cursor-pointer box-content">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                        <path fill-rule="evenodd" 
                        d="M2 4.75A.75.75 0 0 1 2.75 4h14.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 4.75ZM2 10a.75.75 0 0 1 .75-.75h14.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 10Zm0 5.25a.75.75 0 0 1 .75-.75h14.5a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1-.75-.75Z"
                        clip-rule="evenodd" />
                    </svg>
                </div>
                                   
                <%- include('genreList') %>

                <div class="flex justify-start p-2">
                    <button class="font-light rounded-full bg-zinc-800 w-fit p-3 pr-4 cursor-pointer hover:bg-zinc-700 flex gap-1 items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                            <path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" />
                          </svg>
                           <span>
                            Add a genre
                           </span></div>
                </div> 
            </div> 
            <div class="flex-1 mx-5"><%- include('genre') %></div>
        </div>
    </body>
</html>
