<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <link rel="stylesheet" href="/output.css">
    </head>
    <body class="bg-stone-800">
        <% locals.genres.forEach(element => { %>
            <ul>
                <a href="<%= "/genres/" + element.id %>">
                    <li>
                        <%= element.genre %> ( <%= element.count %> )
                    </li>
                </a>
            </ul>
        <% }); %>

        <%- include('genre') %>
    </body>
</html>
