@import "tailwindcss";
@plugin 'daisyui' {
    themes: dark --default --prefers-dark
}

@plugin "daisyui/theme" {
    name: "dark";
    default: true;
    --color-base-100: oklch(14.5% 0.008 326);
}

@font-face {
    font-family: Inter;
    src: url("/fonts/Inter.ttf") format("truetype");
}

@font-face {
    font-family: logo;
    src: url("/fonts/a4boxd.ttf") format("truetype");
}

@theme {
    --font-display: 'Inter', sans-serif;
}