@import "tailwindcss";
@plugin 'daisyui' {
    themes: dark --default --prefers-dark
}

@plugin "daisyui/theme" {
    name: "dark";
    default: true;
    --color-primary: oklch(15.3% 0.006 107.1);
    --color-base-100: oklch(15.3% 0.006 107.1);
    --color-secondary: teal;
}

@font-face {
    font-family: Inter;
    src: url("/fonts/Inter.ttf") format("truetype");
}

@theme {
    --font-display: 'Inter', sans-serif;
}